@font-face {
    font-family: 'regular';
    src: url('../fonts/webfontkit-20240725-091928/dinnextw1g-regular-webfont.woff') format('woff2'),
         url('../fonts/webfontkit-20240725-091928/dinnextw1g-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: grid;
    place-items: center;
    gap: 50px;
    margin: 0;
    height: 100vh;
    background: #f3f5f6;
    font-family: regular;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track { 
    background: #FEFAE0;
}
body::-webkit-scrollbar-thumb { 
    background-color: #a1a1a1;
    border-radius: 20px; 
    border: 3px solid #a1a1a1;
}

.header-1{
    color: #1e2d7d;
    text-align: center;
}

input{
    display: block;
    margin-bottom: 15px;
    width: 300px;
    border-radius: 2px;
    padding: 15px;
    font-size: medium;
    border: 1px solid rgb(188, 188, 188);
    transition: border-color 0.15s;

}

input:focus{
    border-color: #31c6e1;
    outline: 0;
}

input::placeholder{
    font-family: regular;
}

button{
    background-color: #31c6e1;
    color: white;
    font-weight: 500;
    border-radius: 2px;
    width: 200px;
    padding: 15px;
    font-size: medium;
    font-family: regular;
    cursor: pointer;
    border: 0;
}

.btn{
    background-color: #31c6e1;
    color: white;
    font-weight: 500;
    border-radius: 2px;
    width: 200px;
    padding: 15px;
    font-size: medium;
    font-family: regular;
    cursor: pointer;
    border: 0;
}

.tiles{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tile{
    width: 350px;
    height: 250px;
    align-content: center;
    border: 1px solid #979799;
    border-radius: 4px;
    margin: 10px;
}

.tile h2{
    margin-top: 0px;
}

  
  @media (width >= 500px) {
    body {
      padding: 0;
    }
  }