@font-face {
    font-family: 'din_next_w1gheavy_italic';
    src: url('dinnextw1g-heavyitalic-webfont.woff2') format('woff2'),
         url('dinnextw1g-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'din_next_w1gmedium_italic';
    src: url('dinnextw1g-mediumitalic-webfont.woff2') format('woff2'),
         url('dinnextw1g-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'regular';
    src: url('../fonts/webfontkit-20240725-091928/dinnextw1g-regular-webfont.woff') format('woff2'),
         url('../fonts/webfontkit-20240725-091928/dinnextw1g-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: grid;
    place-items: center;
    gap: 50px;
    margin: 0;
    height: 100vh;
    background: #f3f5f6;
    font-family: regular;
  }

.header-1{
    color: #1e2d7d;
}

input,select,textarea{
    display: block;
    margin-bottom: 15px;
    width: 500px;
    border-radius: 2px;
    padding: 15px;
    font-size: medium;
    border: 1px solid rgb(188, 188, 188);
    transition: border-color 0.15s;

}

.main img{
    width: 531.6px;
    margin-bottom: 10px;
}

.sub{
    display: flex;
    justify-content: left;
}

.sub img{
    width: 100px;
    margin-bottom: 15px;
    margin-right: 10px;
}

input:focus{
    border-color: #31c6e1;
    outline: 0;
}

input::placeholder{
    font-family: regular;
}

button{
    background-color: #31c6e1;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
    border-radius: 2px;
    width: 260.8px;
    padding: 15px;
    font-size: medium;
    font-family: regular;
    cursor: pointer;
    border: 0;
}

.btn{
    display: flex;
    width: 531.6px;
}

.btn_1{
    background-color: #31c6e1;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
    border-radius: 2px;
    width: 260.5px;
    padding: 15px;
    font-size: medium;
    font-family: regular;
    cursor: pointer;
    border: 0;
    margin-right: 5px;
    
}

a{
    text-decoration-line: none;
    text-align: center;
}

.btn_2{
    background-color: #31c6e1;
    color: white;
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 15px;
    width: 260.5px;
    border-radius: 2px;
    padding: 15px;
    font-size: medium;
    font-family: regular;
    cursor: pointer;
    border: 0;
}

.footer,.header{
    text-align: center;
}

.header-title{
    margin-bottom: 25px;
}

select::placeholder{
    font-family: regular;
}

select{
    appearance: none;
    width: 531px;
    font-family: regular;
    font-size: medium;
}

select:required:invalid {
    color: gray;
}

textarea{
    font-family: regular;
    resize: none;
}



  @media (width >= 500px) {
    body {
      padding: 0;
    }
  }